#item-modal {
  .modal-content {
    background-color: #282c34;
    color: #fff;

    .modal-body {
      img {
        width: 100%;
      }
    }

    .modal-footer {
      .btn {
        color: #fff;
      }
    }
  }
}
