.wrapper-row-item {
  position: relative;
}

.row-items {
  flex-wrap: nowrap !important;
  overflow: auto;
  scroll-behavior: smooth !important;
  padding-bottom: 1em;
  white-space: nowrap;
  width: 100%;

  .item-card {
    position: relative;
    width: 13rem;
    border: none;
    height: 100%;
    border-radius: 6px;
    background-color: transparent;
    transition: transform 0.3s ease;

    img {
      height: 100%;
    }

    &:hover {
      cursor: pointer;

      &::after {
        opacity: 0;
      }
    }

    .score-rating {
      position: absolute;
      display: flex;
      align-items: center;
      color: #fff;
      padding: 0 0.5em;
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 1rem;
      top: 0.5em;
      left: 0.5em;
    }
  }
}

/* Track styles */
.row-items::-webkit-scrollbar-track {
  background-color: transparent; /* Background color of the track */
  border-radius: 8px; /* Border radius of the track */
}

/* Handle (thumb) styles */
.row-items::-webkit-scrollbar-thumb {
  background-color: #212020; /* Color of the scrollbar handle */
  border-radius: 8px; /* Border radius of the handle */
}

/* Handle on hover */
.row-items::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar handle on hover */
  overflow-x: auto;
}

.wrapper-row-item .hide-shadow .row-items {
  display: none !important;
}
