.blog-card {
  height: 35vh;
  width: 100%;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  position: relative;

  .card {
    width: 60%;
    color: white;
    background-color: transparent;
    border: none;
  }
}

.blog-card-button {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.blog-card-wrapper {
  height: 40vh;
}
